*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(128, 173, 240);
    color: rgb(93, 93, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(rgb(128, 173, 240),rgb(93, 93, 243))
    color white; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px o;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}